<section id="page-content">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Titulo:</strong>
      <%= @notice.title %>
    </p>

    <p>
      <strong>Enlace:</strong>
      <%= @notice.link %>
    </p>

    <%= link_to 'Editar noticia', edit_notice_path(@notice) %> |
    <%= link_to 'Atras', notices_path %>
  </div>
</section>
