<%= form_for(cover, local: true, html: { multipart: true }) do |form| %>
  <% if cover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

      <ul>
      <% cover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :titulo %>
    <%= form.text_field :title, id: :cover_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :descripcion %>
    <%= form.text_field :description, id: :cover_description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit "Aceptar", class: "btn btn-success" %>
    <%= link_to "Atrás", "/covers", class: "btn btn-danger" %>
  </div>
<% end %>
