<section id="page-content">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <h1>Usuarios</h1>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.status %></td>
            <td><%= link_to 'Ver usuario', user %></td>
            <td><%= link_to 'Editar usuario', edit_user_path(user) %></td>
            <% if user.status != "administrador" %>
              <td><%= link_to 'Eliminar usuario', user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Agregar un nuevo usuario', new_user_path %>
    <%= link_to 'Atras', dashboard_path %>
  </div>
</section>
