<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :decription %><br>
    <%= f.text_area :decription %>
  </div>
  <div class="field">
    <%= f.label :course_type %><br>
    <%= f.select(:course_type, options_for_select([['Desarrollo personal','Desarrollo personal'],['Desarrollo empresarial','Desarrollo empresarial'],['Servicio al cliente','Servicio al cliente'],['Desarrollo profesional','Desarrollo profesional']]))%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
