<section id="page-content">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nombre:</strong>
      <%= @course.name %>
    </p>

    <p>
      <strong>Contenido:</strong>
      <%= @course.content %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <%= @course.type %>
    </p>

    <%= link_to 'Editar curso', edit_course_path(@course) %> |
    <%= link_to 'Atras', courses_path %>
  </div>
</section>
