<html>
  <head>
    <title>UNM</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'bootstrap.min', :media => 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    'animate', :media => 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    'main', :media => 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    'responsive', :media => 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag( 'http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' ) %>

    <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'jquery.parallax', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
